.section1 {
  width: 300px;
  height: 160px;
  border: 1px solid blue;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
}

.section2 {
  width: 300px;
  height: 160px;
  border: 1px solid red;
  box-sizing: border-box;
}

.section2 div {
  height: 75px;
  width: 75px;
  background-color: aquamarine;
  margin: 25% auto;
}
